  <nav class="top-bar" data-topbar="">    
    <div class="top-bar-inner">
      <a href="/feed.xml" id="subscribe-btn"><span>Subscribe</span></a>
      
      <ul class="title-area">
        <li class="name"><a href="/">Avid Sense</a></li>
        <li class="toggle-topbar menu-icon"><a href="" class="left"><!--Menu--></a></li>
      </ul>
      
      <section class="top-bar-section" style="left: 0%;"> 
        <!--     
        <ul class="left">
          <li class="home"><%= link_to "Home", "/" %></li>
          <li class="has-dropdown"><%= link_to "Articles", "/#articles" %>
            <ul class="dropdown">
              <li><%= link_to "Archives", "/archives" %></li>
              <li><%= link_to "Feed", "/feed.xml" %></li>
            </ul>
          </li>
          <li><%= link_to "Contact", "mailto:hello@avidsense.com" %></li>
          <li class="divider"></li>
        </ul>
        -->
      </section>  
    </div> 
  </nav>
    
